.flex {
    display: flex;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}